* {
    border: none;
    border-radius: 0px;
    font-family: RobotoMono Nerd Font;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #000000;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#clock,
#custom-clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-launcher,
#custom-power,
#custom-layout,
#custom-updater,
#custom-snip,
#taskbar,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#custom-updater,
#temperature,
#workspaces,
#window {
    padding: 0 14px;
    color: #f8f8f2;
    background-color: #282A36;
    opacity: 0.9;
}

#window,
#workspaces {
    border-radius: 20px;
}

#window {
    min-width: 250px;
    margin: 0 5px;
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    color: #f8f8f2;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #CAA9FA;
    color: #282A36;
}

#workspaces button.focused {
    border-bottom: 3px solid #f8f8f8;
}

#workspaces button.focused:hover {
    background: #CAA9FA;
    color: #282A36;
    border-bottom: 3px solid #f8f8f8;
}

#workspaces button.urgent {
    background-color: #FF5555;
}

#battery.critical:not(.charging) {
    background-color: #FF5555;
    color: #F8F8F8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio.muted {
    color: #FF5555;
}

#custom-media {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    color: black;
    border-radius: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

#custom-media.custom-spotify {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    color: black;
    border-radius: 20px;
    margin-right: 5px;
}

#custom-power{
    font-size: 18px;
    border-radius: 0px 20px 20px 0px;
    margin-right: 5px;
}

#temperature.critical {
    background-color: #FF5555;
}

#idle_inhibitor {
    border-radius: 20px 0px 0px 20px;
}
