/*
 *     _       __      _____    ________________
 *    | |     / /___  / __(_)  / ____/ ___/ ___/
 *    | | /| / / __ \/ /_/ /  / /    \__ \\__ \ 
 *    | |/ |/ / /_/ / __/ /  / /___ ___/ /__/ / 
 *    |__/|__/\____/_/ /_/   \____//____/____/  
 *                                              
 *    Purpose           Wofi style definition - Dracula Theme
 *    Author            ChevySSinSD
 *    Reference         https://github.com/dracula/rofi/blob/6d92bc04ba01655fb3645dabeecdfe38f59969a6/theme/config2.rasi
 *
 *    Dracula theme colors
 *      wofi-color0: drac-bgd: #282a36;
 *      wofi-color1: drac-cur: #44475a;
 *      wofi-color2: drac-fgd: #f8f8f2;
 *      wofi-color3: drac-cmt: #6272a4;
 *      wofi-color4: drac-cya: #8be9fd;
 *      wofi-color5: drac-grn: #50fa7b;
 *      wofi-color6: drac-ora: #ffb86c;
 *      wofi-color7: drac-pnk: #ff79c6;
 *      wofi-color8: drac-pur: #bd93f9;
 *      wofi-color9: drac-red: #ff5555;
 *      wofi-color10: drac-yel: #f1fa8c;
*/

#window {
    color: --wofi-color2;
    background-color: --wofi-color0;
    border-radius: 20px;
    opacity: 0.9;
    font: Roboto,RobotoMono Nerd Font;
    font-size: 16;
}

#input {
    background-color: --wofi-color1;
    border-radius: 20px;
}

#entry {
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
}

#entry:selected,
#text:selected {
    color: --wofi-color0;
    background-color: --wofi-color8;
}
