window {
margin: 0px;
border: 2px solid #bd93f9;
border-radius: 20px;
background-color: #282a36;
font-family: Roboto;
font-size: 16px;
opacity: 0.9;
}

#input {
margin: 15px;
border: 1px solid #303030;
border-radius: 25px;
color: #c6c6c6;
background-color: #303030;
}

#input image {
	color: #303030;
}

#inner-box {
margin: 5px;
border: none;
padding-left: 10px;
padding-right: 10px;
border-radius: 20px;
background-color: #282a36;
}

#outer-box {
margin: 5px;
border: none;
background-color: #282a36;
border-radius: 20px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #f8f8f2;
} 

#entry:selected {
	background-color: #bd93f9;
	font-weight: normal;
	border-radius: 25px;
}

#text:selected {
	background-color: #bd93f9;
	color: #282a36;
	font-weight: normal;
}
